<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Gotanda.mobile Slack</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css">
    <link rel="stylesheet" href="/index.css">
</head>

<body>

<div class="container">
    <div clas="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Gotanda.mobile Slack</h1>
            <p>五反田の iOS / Android 地域コミュニティ Gotanda.mobile の Slack チーム</p>
        </div>

        <div class="form-wrapper col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" role="form">
                <div class="form-group">
                    <label class="email">メールアドレス</label>
                    <input type="email" class="form-control" required placeholder="example@example.com" id="email">
              <span class="help-block">
                <span class="default">招待メールを送るメールアドレスを入力してください</span>
                <span class="progress">送信中 ...</span>
                <span class="succeeded">送信に成功しました</span>
                <span class="failed">送信に失敗しました <span class="opt"></span></span>
              </span>
                </div>

                <div class="form-group">
                    <input type="submit" value="送信" class="btn btn-default pull-right">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="footer col-xs-12">
    <p class="text-center">Powered by Gotanda.mobile</a>.</p>
</div>
</div>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/pine613/gotandamb-slack-invite-kotlin">Fork me on GitHub</a>
    </div>
</div>

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/index.js"></script>
</body>
</html>